*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: papayawhip;
    color: rgba(0, 0, 0, 0.919);
    height: 5rem;
    line-height: 5rem;
    
}
.choice{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

} 
img{
    height: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
justify-content: center;
align-items: center;
gap: 4rem;
margin-top: 5rem;
}
.choice:hover{
    opacity: 0.6;
        cursor: pointer;
    }

.score_board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
   

}
#user-score,#comp-score{
    font-size: 4rem;

}
.msgc{
    margin-top: 4rem;
}
#msg{
    background-color:#ffefd5 ;
    color: black;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.compr{ height: 90px;
        width: 10%;
        background-color: #ffefd5;
         color: black;}